 <!-- cca Modals -->
{% for page in site.pages %}
<div class="cca-modal modal fade" id="ccaModal-{{ page.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ page.title }}</h2>
                        <hr class="star-primary">
                        {% if page.description %}
                            <p>{{ page.description }}</p>
                        {% endif %}
                        {% for i in range(1,page.img_num+1)}
                        <img src="img/cca/{{ page.img_prefix }}{{ i }}.jpg" class="img-responsive img-centered" alt="{{ page.alt }}">
                        {% endfor %}
                        <ul class="list-inline item-details">
                            {% if page.community %}
                                <strong><a>{{ page.community }}</a>
                                </strong>
                            {% endif %}
                            {% if page.project-date %}
                                <li>Date:
                                    <strong><a>{{ page.project-date }}</a>
                                    </strong>
                                </li>
                            {% endif %}
                            {% if page.category %}
                                <li>Service:
                                    <strong><a>{{ page.category }}</a>
                                    </strong>
                                </li>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}