<!-- About Section -->
    <section id="milestone">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Milestones</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2016 - Apr 2017</h4>
                                    <h4 class="subheading">Software Engineering (embedded systems)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Led a team of 8 volunteers to guide 10 children under 12 year old with special needs to complete physical training and enhanced children's interpersonal communication skills in the recovering center.</p>
                                    <p class="text-muted"> Transferred to SUTD for overseas education opportunity.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2017</h4>
                                    <h4 class="subheading">Matriculated in SUTD. The freshmore year focused on engineering fundamentals and design thinking.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Co-curricular activities: Muay Thai, Tennis, Go (weiqi). Represented SUTD in SUniG tennis varsity game.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2018</h4>
                                    <h4 class="subheading">Product development internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Accompnished an enriching internship at a SaaS start-up company and involved in UI/UX improvement, market research and demo database construction.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2018</h4>
                                    <h4 class="subheading">Engineering Systems and Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Enrolled in the academic pillar ESD with specialization in Business Analytics. Pursued a minor in Artificial Intelligence. Assisted the pillar dean for a research project in aviation data analytics and selected for Open Hourse Showcase.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Insights & analytics internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked on streamlining real estate analytics for in-house reporting and modelling. Used Python, Tableau, and VBA for ETL, automation and integration.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2019</h4>
                                    <h4 class="subheading">Creative Technology Exchange Programme</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Courses: Machine Learning, Data Science, Managing Big Data, Algorithms Data structures and Complexity, Simulation, Introduction to Psychology.</p>
                                    <p class="text-muted">Self-studied CFA Level I in Netherlands and passed with a score band above 90 percentiles.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 2020</h4>
                                    <h4 class="subheading">Capstone FYP: Credit Risk Digitalization</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked with Citi Bank to design and build an integrated system that automatically extracts and presents credit signals in a consolidated and timely manner along with data visualisations to facilitate credit risk reassessment of borrowers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Learning
                                    <br>Never
                                    <br>Stops!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>