<!-- Team Section -->
<section id="self" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Myself</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>

        <div class="row">
            <div class="team-member">
                <img src="{{ site.baseurl }}/img/team/1.jpg" class="img-responsive img-circle" alt="">
                <h4>{{ site.people[0].name }}</h4>
                <p class="text-muted">{{ site.people[0].position }}</p>

                <ul class="list-inline social-buttons">
                    {% for network in site.people[0].social %}
                    <li>
                        <a href="{{ network.url }}">
                            <i class="fa fa-{{ network.title }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                        <p class="large text-muted"> I am a graduate from Singapore University of Technology and Design specialized in Business Analytics with a minor in AI. I am passionate about delivering transforming data products to bring business values and team success. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>