<!-- Skill Sets Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skill Sets</h2>
                <!-- <h3 class="section-subheading font-weight-normal">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skills/programming.png" alt="">
                </span>
                <h4 class="service-heading">Data analytics</h4>
                <b>Object-Oriented Programming: </b>
                <p class="font-weight-normal">Python(numpy, pandas), R, GoLang<br></p>
                <b">Databases: </b>
                <p class="font-weight-normal">SQL(MySQL, Postgres, Snowflake), NoSQL(MongoDB, Neo4j)<br></p>
                <b>Data visualization: </b>
                <p class="font-weight-normal">PowerBI, Tableau, Qlik Sense<br></p>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skills/backend.png" alt="">
                </span>
                <h4 class="service-heading">Backend dev</h4>
                <b>Big Data Services: </b>
                <p class="font-weight-normal">Apache Spark(PySpark), Snowflake, Hadoop, MapReduce, AWS EMR<br></p>
                <b>Data Engineering: </b>
                <p class="font-weight-normal">Airflow, AWS Glue, Web-scraping, RESTful API<br></p>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skills/frontend.png" alt="">
                </span>
                <h4 class="service-heading">Frontend dev</h4>
                <p class="font-weight-normal">TypeScript, React.js, eslint, HTML, css, npm<br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skills/ML.svg" alt="">
                </span>
                <h4 class="service-heading">ML & AI</h4>
                <b>Modelling: </b>
                <p class="font-weight-normal">Statistical, Time series models<br></p>
                <b>ML: </b>
                <p class="font-weight-normal">classification, clustering, regression, decision trees<br>Sciki-learn, MLlib, statsmodels<br></p>
                <b>DL: </b>
                <p class="font-weight-normal">Pytorch, Tensorflow, Keras, Computer vision (GAN, VAE)<br></p>
                <b>NLP: </b>
                <p class="font-weight-normal">OCR, NER, language detection, sentiment analysis, word-embedding<br>Spacy, NLTK, BERT, RNN(LSTM)<br></p>
                <b>RL: </b>
                <p class="font-weight-normal">policy-evaluation, epsilon greedu, UCB<br></p>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <span class="fa-stack fa-4x">
                    <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skills/logo-devops.png" alt="">
                </span>
                <h4 class="service-heading">DevOps</h4>
                <p class="font-weight-normal">
                    Bitbucket, Git<br>
                    CI/CD: Cloudbees Jenkins, kubernetes, AWS EKS, OCP <br>
                    Dev/Prod/UAT version control and deployment<br>
                </p>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/skills/finance.webp" alt="">
                </span>
                <h4 class="service-heading">Finance</h4>
                <p class="font-weight-normal">
                    Financial Risk Management, Value At Risk (VaR)<br>
                    Financial report analysis, corporate finance, economics<br>
                    Investment products and quantitative valuation models<br>
                </p>
            </div>
        </div>
    </div>
</section>